## Today we are going to test your knowledge in SQL. Please refer to  http://www.w3schools.com/sql/ for any questions you might have over the material. Each question must be solved in only ONE SQL statement. No pandas or numpy operations may be used!
### These questions get progressively more difficult. Look through the website above and stackoverflow for hints on solving the more challenging problems. 
### Unfortunately, Brad will only be able to give help on questions with difficulty 7 and higher. He apologizes for the inconvenience.

#### First create a connection to your postgresql database here

In [1]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('postgres://mfnyeqfz:zxzi25vFYOiloQ8ORKUo2-Oog5GgfZc2@elmer.db.elephantsql.com:5432/mfnyeqfz')
pd.read_sql("SELECT * FROM information_schema.tables;", engine)[:3]

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,mfnyeqfz,public,pg_stat_statements,VIEW,None,None,None,None,None,NO,NO,None
1,mfnyeqfz,public,trump_tweets,BASE TABLE,None,None,None,None,None,YES,NO,None
2,mfnyeqfz,public,website_imdb,BASE TABLE,None,None,None,None,None,YES,NO,None

In [7]:
df = pd.read_sql("SELECT * FROM website_imdb;", engine)

In [10]:
df.head(2)

Index([u'id', u'title', u'poster', u'plot', u'genre', u'year', u'imdbRating',
       u'created', u'imdbID', u'awards', u'actors', u'country', u'director',
       u'gross', u'imdbVotes', u'language', u'rated', u'released', u'response',
       u'runtime', u'type', u'writer'],
      dtype='object')

,id,title,poster,plot,genre,year,imdbRating,created,imdbID,awards,...,director,gross,imdbVotes,language,rated,released,response,runtime,type,writer
0,2813,La Haine,https://images-na.ssl-images-amazon.com/images...,24 hours in the lives of three young men in th...,"Crime, Drama",1995,8.1,2016-11-13 22:22:15.430541+00:00,tt0113247,8 wins & 13 nominations.,...,Mathieu Kassovitz,309811.0,104913,French,NOT RATED,1996-02-23,True,98,movie,Mathieu Kassovitz
1,2740,Good Will Hunting,http://ia.media-imdb.com/images/M/MV5BMTk0NjY0...,"Will Hunting, a janitor at M.I.T., has a gift ...",Drama,1997,8.3,2016-11-13 22:22:15.411467+00:00,tt0119217,Won 2 Oscars. Another 20 wins & 53 nominations.,...,Gus Van Sant,138339411.0,609983,English,R,1998-01-09,True,126,movie,"Matt Damon, Ben Affleck"

#### Let's use the "website_imdb" table for our queries

## Difficulty => 1

### Print out all the drama movies

In [17]:
# All movies with Genre contains Drama
pd.read_sql("select title from website_imdb where genre like '%%Drama%%';", engine)
# All movies with only Genre Drama
pd.read_sql("select title from website_imdb where genre = 'Drama';", engine)

                              title
0                 Good Will Hunting
1                     All About Eve
2               Fanny and Alexander
3                           Network
4              My Father and My Son
5                             Ikiru
6                       Tokyo Story
7                          The Hunt
8               There Will Be Blood
9               Requiem for a Dream
10                      Gran Torino
11                             Room
12                   Cool Hand Luke
13                Nights of Cabiria
14                       Fight Club
15                    Trainspotting
16                         The Help
17                  Bicycle Thieves
18  One Flew Over the Cuckoo's Nest

### Print out all the movies with a director with 'C' or 'S' in their last names. Ignore any movies with multiple directors.

In [27]:
pd.read_sql("select title, director from website_imdb where (director like '%% C%%' "
            " or director like '%% S%%') and director not like '%%,%%';", engine)

                                 title               director
0                    Good Will Hunting           Gus Van Sant
1                             Whiplash        Damien Chazelle
2              Raiders of the Lost Ark       Steven Spielberg
3                    The Wages of Fear  Henri-Georges Clouzot
4                     The Great Escape           John Sturges
5                          City Lights        Charles Chaplin
6                It Happened One Night            Frank Capra
7                       The Terminator          James Cameron
8                          Raging Bull        Martin Scorsese
9                      Andaz Apna Apna      Rajkumar Santoshi
10                    Schindler's List       Steven Spielberg
11                        The Departed        Martin Scorsese
12                      Shutter Island        Martin Scorsese
13                  The Usual Suspects           Bryan Singer
14                       The Gold Rush        Charles Chaplin
15           In the Name of the Father           Jim Sheridan
16                          Diabolique  Henri-Georges Clouzot
17                           Gladiator           Ridley Scott
18             The Wolf of Wall Street        Martin Scorsese
19                               Alien           Ridley Scott
20                             The Kid        Charles Chaplin
21                       Jurassic Park       Steven Spielberg
22                  The Great Dictator        Charles Chaplin
23                 Catch Me If You Can       Steven Spielberg
24        Mr. Smith Goes to Washington            Frank Capra
25                         The Martian           Ridley Scott
26                             Platoon           Oliver Stone
27                     The Sixth Sense     M. Night Shyamalan
28                              Aliens          James Cameron
29            The Secret in Their Eyes   Juan José Campanella
30                        Blade Runner           Ridley Scott
31                       The Godfather   Francis Ford Coppola
32                          Wild Tales         Damián Szifrón
33               It's a Wonderful Life            Frank Capra
34                          Casablanca         Michael Curtiz
35                      Apocalypse Now   Francis Ford Coppola
36  Indiana Jones and the Last Crusade       Steven Spielberg
37                           The Thing         John Carpenter
38                     The Deer Hunter         Michael Cimino
39                              WALL·E         Andrew Stanton
40                        Modern Times        Charles Chaplin
41                          Goodfellas        Martin Scorsese
42                              Casino        Martin Scorsese
43                     Bicycle Thieves       Vittorio De Sica
44              The Godfather: Part II   Francis Ford Coppola
45                                Jaws       Steven Spielberg
46          Terminator 2: Judgment Day          James Cameron
47                 Saving Private Ryan       Steven Spielberg
48                         Taxi Driver        Martin Scorsese

## Difficulty => 3

### Print out the gross of each director's highest grossing movie. Filter nan.

In [126]:
pd.read_sql("SELECT director, max(gross) FROM website_imdb WHERE gross <> 'NaN' "
            " group by director;", engine)

                                              director          max
0                                            Tony Kaye    6712241.0
1                                         Bryan Singer   23272306.0
2                                         Tom McCarthy   44988180.0
3                                     Darren Aronofsky    3609278.0
4                                         Gus Van Sant  138339411.0
5                                        Morten Tyldum   91121452.0
6               Victor Fleming, George Cukor, Sam Wood  198655278.0
7                                      Robert Zemeckis  329691196.0
8                                           Carol Reed     449191.0
9                                    Wolfgang Petersen   11433134.0
10                                   Mathieu Kassovitz     309811.0
11                                          Tim Miller  363024263.0
12                                      Irvin Kershner  290158751.0
13                                     Martin Scorsese  132373442.0
14                                  Giuseppe Tornatore   11990401.0
15                      Olivier Nakache, Eric Toledano   13179837.0
16                                    Gillo Pontecorvo      43204.0
17                                      Gavin O'Connor   13651662.0
18                                     Roberto Benigni   57598247.0
19                               Ethan Coen, Joel Coen   74273505.0
20                                        Orson Welles    2237659.0
21                                 Oliver Hirschbiegel    5501940.0
22                                  Guillermo del Toro   37623143.0
23                                         David Yates  380955619.0
24                                      Damián Szifrón    3079012.0
25                                      Roman Polanski   32519322.0
26                                        Jim Sheridan   25010410.0
27                                    John G. Avildsen  117235247.0
28                                       Terry Gilliam   56882000.0
29                                     Damien Chazelle   13092000.0
..                                                 ...          ...
94                                         Guy Ritchie   30093107.0
95                      Pete Docter, Ronnie Del Carmen  356454367.0
96                                      Asghar Farhadi    7098492.0
97                                        Majid Majidi     925402.0
98                                          Peter Weir  125603360.0
99                                    Richard Marquand  309125409.0
100                                         Sam Mendes  130058047.0
101                                       Terry George   23472900.0
102                        Andrew Stanton, Lee Unkrich  380838870.0
103                               Joseph L. Mankiewicz      10177.0
104                                         Mel Gibson   75600000.0
105                                   Steven Spielberg  356784000.0
106  Victor Fleming, George Cukor, Mervyn LeRoy, No...   22202612.0
107                                      David Fincher  167735396.0
108                                   Lenny Abrahamson   14677654.0
109                                  Thomas Vinterberg     610968.0
110                                         Elia Kazan    9600000.0
111                          Roger Allers, Rob Minkoff  422783777.0
112                        Dean DeBlois, Chris Sanders  217387997.0
113                                    George Roy Hill  159600000.0
114                     Fernando Meirelles, Kátia Lund    7563397.0
115                                         Tomm Moore     850043.0
116                                         James Gunn  333130696.0
117                                   Denis Villeneuve   60962878.0
118                                        Terry Jones     646124.0
119                                     Frank Darabont  136801374.0
120                                       Sergio Leone    6100000.0
121                                         David Lean   27200000.0
122                                      James Cameron  204843350.0
123                                        Woody Allen   39200000.0

[124 rows x 2 columns]

### Print out the gross of each director's highest grossing movie. Order by gross desc. Filter nan.

In [130]:
maxgross_dir = pd.read_sql("SELECT director, max(gross) FROM website_imdb WHERE gross <> 'NaN' "
            " GROUP BY director ORDER BY max(gross) desc;", engine)

print len(maxgross_dir), 'rows'
maxgross_dir.head()

124 rows

                    director          max
0                J.J. Abrams  936627416.0
1          Christopher Nolan  533316061.0
2               George Lucas  460935665.0
3  Roger Allers, Rob Minkoff  422783777.0
4                Lee Unkrich  414984497.0

## Difficulty => 5

### Print out the movie title, gross, and director of each director's highest grossing movie. Order by gross desc. Filter nan.

In [152]:
maxgross_dir = pd.read_sql("SELECT director, title, gross FROM website_imdb t1  where "
            " t1.gross in (select max(gross) from website_imdb t2 WHERE gross <> 'NaN' and t2.director = t1.director) "
            " order by gross desc;", engine)

print len(maxgross_dir)
maxgross_dir.head()
# pd.read_sql('SELECT  db1.title, db1.gross, db1.director FROM website_imdb db1, '
#     '(select director, max(gross) as max_gross from website_imdb WHERE gross <> \'NaN\' group by director ) as db2 '
#             ' WHERE db1.director = db2.director and max_gross = db1.gross '
#             'ORDER BY db1.gross DESC ;', engine)

124

                    director                               title        gross
0                J.J. Abrams        Star Wars: The Force Awakens  936627416.0
1          Christopher Nolan                     The Dark Knight  533316061.0
2               George Lucas  Star Wars: Episode IV - A New Hope  460935665.0
3  Roger Allers, Rob Minkoff                       The Lion King  422783777.0
4                Lee Unkrich                         Toy Story 3  414984497.0

### Print out the movie title, rating, and director of each director's highest rated movie if that director has directed more than one movie. Order by rating desc. Filter nan.

In [153]:
pd.read_sql('SELECT  db1.title, db1."imdbRating",db1.director FROM website_imdb db1, '
            '(select director, max("imdbRating") as max_imdbrating from website_imdb '
            ' WHERE "imdbRating" <> \'NaN\' group by director having count(director) > 1) as db2 '
            ' WHERE db1.director = db2.director and max_imdbrating = db1."imdbRating"'
            'ORDER BY db1."imdbRating" DESC' 
            '', engine)

,title,imdbRating,director
0,The Shawshank Redemption,9.3,Frank Darabont
1,The Godfather,9.2,Francis Ford Coppola
2,The Dark Knight,9.0,Christopher Nolan
3,12 Angry Men,8.9,Sidney Lumet
4,"The Good, the Bad and the Ugly",8.9,Sergio Leone
5,Schindler's List,8.9,Steven Spielberg
6,The Lord of the Rings: The Return of the King,8.9,Peter Jackson
7,Pulp Fiction,8.9,Quentin Tarantino
8,Forrest Gump,8.8,Robert Zemeckis
9,Fight Club,8.8,David Fincher
10,Seven Samurai,8.7,Akira Kurosawa
11,Goodfellas,8.7,Martin Scorsese
12,One Flew Over the Cuckoo's Nest,8.7,Milos Forman
13,City Lights,8.6,Charles Chaplin
14,Spirited Away,8.6,Hayao Miyazaki
15,Modern Times,8.6,Charles Chaplin
16,It's a Wonderful Life,8.6,Frank Capra
17,Sunset Boulevard,8.5,Billy Wilder
18,Dr. Strangelove or: How I Learned to Stop Worr...,8.5,Stanley Kubrick
19,Terminator 2: Judgment Day,8.5,James Cameron
20,Gladiator,8.5,Ridley Scott
21,Alien,8.5,Ridley Scott
22,Psycho,8.5,Alfred Hitchcock
23,Paths of Glory,8.5,Stanley Kubrick
24,The Pianist,8.5,Roman Polanski
25,Rear Window,8.5,Alfred Hitchcock
26,Citizen Kane,8.4,Orson Welles
27,Lawrence of Arabia,8.4,David Lean
28,M,8.4,Fritz Lang
29,The Sting,8.3,George Roy Hill
30,The Treasure of the Sierra Madre,8.3,John Huston
31,Unforgiven,8.3,Clint Eastwood
32,Snatch,8.3,Guy Ritchie
33,Nights of Cabiria,8.2,Federico Fellini
34,Wild Strawberries,8.2,Ingmar Bergman
35,The Seventh Seal,8.2,Ingmar Bergman
36,The Big Lebowski,8.2,"Joel Coen, Ethan Coen"
37,Incendies,8.2,Denis Villeneuve
38,A Beautiful Mind,8.2,Ron Howard
39,The Wages of Fear,8.2,Henri-Georges Clouzot
40,The Revenant,8.1,Alejandro G. Iñárritu
41,Roman Holiday,8.1,William Wyler
42,Amores Perros,8.1,Alejandro G. Iñárritu
43,The Princess Bride,8.1,Rob Reiner
44,Ben-Hur,8.1,William Wyler
45,Stand by Me,8.1,Rob Reiner
46,The Best Years of Our Lives,8.1,William Wyler

## Difficuty => 7

### Print out the released date, title, and the season (winter, spring, summer, fall) in which each movie was released. Let's assume for simplicity sake that seasons end at the end of each month instead of on the 21st.

In [187]:
pd.read_sql('SELECT released, title, '
                '( CASE '
                '  WHEN substring(released,6,2) in (\'12\', \'01\',\'02\') THEN \'winter\' '
                '  WHEN substring(released,6,2) in (\'03\', \'04\',\'05\') THEN \'spring\' '    
                '  WHEN substring(released,6,2) in (\'06\', \'07\',\'08\') THEN \'summer\' '
                '  WHEN substring(released,6,2) in (\'09\', \'10\',\'11\') THEN \'fall\' ' 
                '  ELSE NULL'
                '  END) AS season ' 
            'FROM website_imdb '
    '', engine)

       released                               title  season
0    1996-02-23                            La Haine  winter
1    1998-01-09                   Good Will Hunting  winter
2    2014-10-15                            Whiplash    fall
3    1956-11-19                       Seven Samurai    fall
4    1981-06-12             Raiders of the Lost Ark  summer
5    1957-12-14        The Bridge on the River Kwai  winter
6    2007-12-21                 Like Stars on Earth  winter
7    2016-01-08                        The Revenant  winter
8    2002-12-12                    Infernal Affairs  winter
9    1955-02-16                   The Wages of Fear  winter
10   1961-09-13                             Yojimbo    fall
11   2003-05-30                        Finding Nemo  spring
12   1951-01-15                       All About Eve  winter
13   2001-11-02                      Monsters, Inc.    fall
14   2013-09-27                                Rush    fall
15   2005-01-28                 Million Dollar Baby  winter
16   1963-07-04                    The Great Escape  summer
17   2003-03-28                         The Pianist  spring
18   1974-06-20                           Chinatown  summer
19   1996-01-05                      Twelve Monkeys  winter
20   2005-04-08                            Downfall  spring
21   2014-12-10                     Song of the Sea  winter
22   1977-07-08                         The Message  summer
23   2015-11-20                           Spotlight    fall
24   2005-06-17                Howl's Moving Castle  summer
25   1931-03-07                         City Lights  spring
26   1997-09-19                   L.A. Confidential    fall
27   2009-12-25                            3 Idiots  winter
28   1959-09-26                  North by Northwest    fall
29   2002-01-04                    A Beautiful Mind  winter
..          ...                                 ...     ...
220  1980-04-17                             Stalker  spring
221  1987-07-10                   Full Metal Jacket  summer
222  1960-09-16                       The Apartment    fall
223  1994-07-06                        Forrest Gump  summer
224  1999-02-12                   Life Is Beautiful  winter
225  1975-06-20                                Jaws  summer
226  1999-10-01                     American Beauty    fall
227  2013-09-20                           Prisoners    fall
228  1958-02-06         Witness for the Prosecution  winter
229  1977-04-20                          Annie Hall  spring
230  1940-04-12                             Rebecca  spring
231  2010-07-16                           Inception  summer
232  1967-05-10              For a Few Dollars More  spring
233  1975-09-21                   Dog Day Afternoon    fall
234  1977-05-25  Star Wars: Episode IV - A New Hope  spring
235  1991-07-03          Terminator 2: Judgment Day  summer
236  1963-06-25                                  8½  summer
237  2005-02-04                        Hotel Rwanda  winter
238  1940-01-17                  Gone with the Wind  winter
239  2007-11-21              No Country for Old Men    fall
240  1954-06-22                   On the Waterfront  summer
241  2010-03-12                 Hachi: A Dog's Tale  spring
242  1998-07-24                 Saving Private Ryan  summer
243  1983-12-09                            Scarface  winter
244  1975-11-21     One Flew Over the Cuckoo's Nest    fall
245  2001-05-25                             Memento  spring
246  2001-01-19                              Snatch  winter
247  1985-06-01                                 Ran  summer
248  1976-02-08                         Taxi Driver  winter
249  1996-11-29                          The Bandit    fall

[250 rows x 3 columns]

### Print out the released date, title, and the relation to today's date (disregard year). If the movie came out before today's month, print 'before' in the relationship column. If the movie came out after todays month, print out 'after' in the relationship column. If the movie was released in the same month, but not the same day, print out 'close'. If the movie came out on today's day and month print 'match'

In [262]:
pd.read_sql('SELECT released, title, '
             '( CASE '
 '  WHEN EXTRACT(MONTH FROM to_date(released,\'YYYY-MM-DD\')) > EXTRACT(MONTH FROM current_date) THEN \'after\' '
 '  WHEN EXTRACT(MONTH FROM to_date(released,\'YYYY-MM-DD\')) < EXTRACT(MONTH FROM current_date) THEN \'before\' '
 '  WHEN (EXTRACT(MONTH FROM to_date(released,\'YYYY-MM-DD\')) = EXTRACT(MONTH FROM current_date)) '
      ' AND (EXTRACT(DAY FROM to_date(released,\'YYYY-MM-DD\')) <> EXTRACT(DAY FROM current_date)) THEN \'close\' ' 
 '  WHEN (EXTRACT(MONTH FROM to_date(released,\'YYYY-MM-DD\')) = EXTRACT(MONTH FROM current_date)) '
      ' AND (EXTRACT(DAY FROM to_date(released,\'YYYY-MM-DD\')) = EXTRACT(DAY FROM current_date)) THEN \'match\' ' 
            '  ELSE NULL'
                '  END) AS relationship ' 
            'FROM website_imdb where released <> \'nan\' '
    '', engine)

       released                               title relationship
0    1996-02-23                            La Haine       before
1    1998-01-09                   Good Will Hunting       before
2    2014-10-15                            Whiplash       before
3    1956-11-19                       Seven Samurai        close
4    1981-06-12             Raiders of the Lost Ark       before
5    1957-12-14        The Bridge on the River Kwai        after
6    2007-12-21                 Like Stars on Earth        after
7    2016-01-08                        The Revenant       before
8    2002-12-12                    Infernal Affairs        after
9    1955-02-16                   The Wages of Fear       before
10   1961-09-13                             Yojimbo       before
11   2003-05-30                        Finding Nemo       before
12   1951-01-15                       All About Eve       before
13   2001-11-02                      Monsters, Inc.        close
14   2013-09-27                                Rush       before
15   2005-01-28                 Million Dollar Baby       before
16   1963-07-04                    The Great Escape       before
17   2003-03-28                         The Pianist       before
18   1974-06-20                           Chinatown       before
19   1996-01-05                      Twelve Monkeys       before
20   2005-04-08                            Downfall       before
21   2014-12-10                     Song of the Sea        after
22   1977-07-08                         The Message       before
23   2015-11-20                           Spotlight        close
24   2005-06-17                Howl's Moving Castle       before
25   1931-03-07                         City Lights       before
26   1997-09-19                   L.A. Confidential       before
27   2009-12-25                            3 Idiots        after
28   1959-09-26                  North by Northwest       before
29   2002-01-04                    A Beautiful Mind       before
..          ...                                 ...          ...
219  1980-04-17                             Stalker       before
220  1987-07-10                   Full Metal Jacket       before
221  1960-09-16                       The Apartment       before
222  1994-07-06                        Forrest Gump       before
223  1999-02-12                   Life Is Beautiful       before
224  1975-06-20                                Jaws       before
225  1999-10-01                     American Beauty       before
226  2013-09-20                           Prisoners       before
227  1958-02-06         Witness for the Prosecution       before
228  1977-04-20                          Annie Hall       before
229  1940-04-12                             Rebecca       before
230  2010-07-16                           Inception       before
231  1967-05-10              For a Few Dollars More       before
232  1975-09-21                   Dog Day Afternoon       before
233  1977-05-25  Star Wars: Episode IV - A New Hope       before
234  1991-07-03          Terminator 2: Judgment Day       before
235  1963-06-25                                  8½       before
236  2005-02-04                        Hotel Rwanda       before
237  1940-01-17                  Gone with the Wind       before
238  2007-11-21              No Country for Old Men        close
239  1954-06-22                   On the Waterfront       before
240  2010-03-12                 Hachi: A Dog's Tale       before
241  1998-07-24                 Saving Private Ryan       before
242  1983-12-09                            Scarface        after
243  1975-11-21     One Flew Over the Cuckoo's Nest        close
244  2001-05-25                             Memento       before
245  2001-01-19                              Snatch       before
246  1985-06-01                                 Ran       before
247  1976-02-08                         Taxi Driver       before
248  1996-11-29                          The Bandit        close

[249 rows x 3 columns]

## Difficulty => 9

### There is another table in my database called 'trump_tweets'. Print out all the times Trump has sent a tweet with a movie title in the text. The movie title must have a length greater than 1.

In [263]:
dftrump = pd.read_sql("SELECT * FROM trump_tweets;", engine)

In [287]:
print len(dftrump)
dftrump.text[26]

448

u"Don't believe the @FoxNews Polls, they are just another phony hit job on me. I will beat Hillary Clinton easily in the General Election."

In [293]:
# pd.read_sql('select distinct(t.text) from trump_tweets t '
#             ' join website_imdb w on lower(t.text) like \'%%\'||lower(w.title)||\'%%\' ' 
#             'where length(w.title) > 1 ', engine )

pd.read_sql('select t.text, w.title from trump_tweets t '
            ' join website_imdb w on lower(t.text) like \'%%\'||lower(w.title)||\'%%\' ' 
            'where length(w.title) > 1 ', engine )

                                                 text        title
0   Another new poll. Thank you for your support! ...           Up
1   Great poll- Florida! Thank you! https://t.co/4...           Up
2   "@AshleyEdam: New CBS Poll shows defections fr...           Up
3   WOW, great new poll- New York! Thank you for y...           Up
4   Don't believe the @FoxNews Polls, they are jus...  The General
5   "@cmichaeld2004: Realistic Trump Poll Numbers ...          Ran
6   Why would anyone in Kentucky listen to failed ...          Ran
7   .@CNN poll just hit 49% for Trump. Interesting...           Up
8   The polls show that I picked up many Jeb Bush ...           Up
9   The just out USA Today National Poll, where I ...           Up
10  New PPP Poll just out - Trump up big, Cruz, Ru...           Up
11  Wow, in the new CBS Poll I went way up into th...           Up
12  The polls are now showing that I am the best t...  The General
13  Good morning America! Thank you for all of you...           Up
14  "@MiamiNewTimes: Poll: Trump has more support ...           Up
15  In the just released SC poll I increased my le...           Up
16  Wow, new polls just out have Trump up and Cruz...           Up
17  I am in New Hampshire. Just received great new...           Up
18  Why are @JebBush flunkies  @ananavarro and @se...           Up
19  Wow, even lowly Rand Paul has just past @JebBu...          Ran
20  Big news just out - NEW @CNN POLL  TRUMP  39 a...           Up
21  "@realNevaDie: This suggests that online polls...         Rush
22  Another new post-debate poll. \nTHANK YOU! #Vo...           Up
23  New PPP poll just released in Iowa- up 6 point...           Up
24  RT @ABCPolitics: JUST IN: Donald Trump hits 41...           Up
25  A very good NBC/Wall Street Journal Poll was j...           Up
26  "@FoxNews: @FrankLuntz: Time for the Republica...          Ran
27  The last person corrupt Hillary Clinton wants ...           Up
28  A new poll indicates that 68% of my supporters...           Up
29  A new poll indicates that 68% of my supporters...          Ran
..                                                ...          ...
51  "@TopherCarlton: .@JebBush Sickening attempt. ...           Up
52  I'm leading big in every poll and we are going...           Up
53  "@WayneDupreeShow: HEADLINES: Donald Trump mai...           Up
54  "@MNManstein2: Polling Convergence - OAN/GRAVI...           Up
55  I hope when Rand Paul gets out of the race—he ...           Up
56  I hope when Rand Paul gets out of the race—he ...          Ran
57  Prediction: Rand Paul has been driven out of t...          Ran
58  "@SkyeShepard: Trump went way up in my 'poll' ...           Up
59  An updated POLL tracker (with all polls thru t...           Up
60  New Bloomberg Poll: Trump Leads Big http://t.c...           Up
61  "@alivelutheran: @TODAYshow touts CNN polls in...          Ran
62  "@JudgeMoroz  Zogby is respected in the busine...  The Message
63  Has the media picked up the new Zogby poll tha...           Up
64  "@alivelutheran: @TODAYshow touts CNN polls in...          Ran
65  Too many people on stage for debate. @RandPaul...          Ran
66  "@GinHay: Trump's polls are going to skyrocket...          Ran
67  "@PressTV: Poll: Trump beats Clinton head-to-h...           Up
68  Leading in the Bloomberg Iowa poll. Also, my f...           Up
69  "@teapartynews: Trump Wins Tea Party Group's '...           Up
70  .@GovernorPataki did a terrible job as Governo...          Ran
71  RT @_Mastersof: @DanScavino @realDonaldTrump @...           Up
72  RT @CNBCnow: Donald Trump maintains support of...           Up
73  RT @DesignerDeb3: @realDonaldTrump BREAKS RECO...           Up
74  .@FrankLuntz I won every poll of the debate to...          Ran
75  "@HowardJax50:  @FrankLuntz NBC says Trump lea...          Ran
76  "@FrankLuntz: Trump is leading with almost eve...           Up
77  "@FrankLuntz: Trump is leading with almost eve...          Ran
78  RT @BrianCraigShow: #DonaldTrump takes massive...           Up
79  RT @ThePatriot143: POLL: TRUMP CRUSHES BUSH AN...         Rush
80  "@CoachZachCooper:  Congratulations on leading...           Up

[81 rows x 2 columns]

### Print out a movie if it is included in the following groups:
* Has the longest runtime
* Is created by the director who has the most imdbvotes
* Has been translated into more than 4 languages
* Has won 2 Oscars

### Make sure each movie is printed out at most one time!

In [302]:
# movie which has the longest runtime
pd.read_sql('select title, runtime from website_imdb where runtime = (select max(runtime) from website_imdb)', engine)

                title  runtime
0  Gangs of Wasseypur      320

In [321]:
# movies by the director who has the most imdbvotes           
pd.read_sql('select title from website_imdb where director in '
            '(select director from website_imdb group by director order by sum("imdbVotes") desc limit 1)', engine)

                   title
0        The Dark Knight
1           The Prestige
2          Batman Begins
3  The Dark Knight Rises
4           Interstellar
5              Inception
6                Memento

In [329]:
# movies in more than 4 languages
pd.read_sql('select title, language from website_imdb '
            ' where (length(language) - length(replace(language,\',\',\'\'))) > 3 ', engine)

                     title                                           language
0  Raiders of the Lost Ark   English, German, Hebrew, Spanish, Arabic, Nepali
1        The Wages of Fear  French, English, Spanish, German, Italian, Rus...
2                     Rush          English, German, Italian, French, Spanish
3         The Great Escape          English, German, French, Russian, Spanish
4     The Bourne Ultimatum          English, French, Arabic, Russian, Spanish
5             Blade Runner    English, German, Cantonese, Japanese, Hungarian
6   The Godfather: Part II         English, Italian, Spanish, Latin, Sicilian

In [333]:
# Movies with only 2 oscars
pd.read_sql("select title from website_imdb where awards like '%%2 Oscars%%';", engine)

# Movies with 2 or more Oscars
pd.read_sql("select title from website_imdb where awards like '%%Oscars%%';", engine)

                                                 title
0                                    Good Will Hunting
1                                             Whiplash
2                                        Seven Samurai
3                              Raiders of the Lost Ark
4                         The Bridge on the River Kwai
5                                         The Revenant
6                                        All About Eve
7                                  Million Dollar Baby
8                                          The Pianist
9                                       Twelve Monkeys
10                                           Spotlight
11                                   L.A. Confidential
12                                  North by Northwest
13                                    A Beautiful Mind
14                               It Happened One Night
15                             Guardians of the Galaxy
16                                 Fanny and Alexander
17                                     The Dark Knight
18                                        Barry Lyndon
19                                    12 Years a Slave
20                                             Network
21   Pirates of the Caribbean: The Curse of the Bla...
22                                             Ben-Hur
23                                         Raging Bull
24                                    Double Indemnity
25                                     The Truman Show
26                                       The Lion King
27                                               Rocky
28                         The Best Years of Our Lives
29                                    The Elephant Man
..                                                 ...
92                                             Sunrise
93                                            Das Boot
94                                     The Deer Hunter
95                            The Grand Budapest Hotel
96                                     Pan's Labyrinth
97                            The Shawshank Redemption
98                              The Godfather: Part II
99                                               Fargo
100                                        Rear Window
101                                   Sunset Boulevard
102                                      The Apartment
103                                       Forrest Gump
104                                  Life Is Beautiful
105                                               Jaws
106                                    American Beauty
107                        Witness for the Prosecution
108                                         Annie Hall
109                                            Rebecca
110                                          Inception
111                 Star Wars: Episode IV - A New Hope
112                         Terminator 2: Judgment Day
113                                                 8½
114                                       Hotel Rwanda
115                                 Gone with the Wind
116                             No Country for Old Men
117                                  On the Waterfront
118                                Saving Private Ryan
119                    One Flew Over the Cuckoo's Nest
120                                            Memento
121                                        Taxi Driver

[122 rows x 1 columns]

## Good job on completing this assignment! You should now be ready for any SQL-based problem thrown at you in the future!

#### If you haven't finished the assignment, scroll back up. This message isn't for you.